---
title: Roleplay
---

%div.c-games
  - data.index.each do |game|
    %div.c-game
      %h2= game.name
      %div.c-sessions
        - game.sessions.each do |session|
          - link = "/#{game.slug}/#{session.slug}.html"
          - picture = "/images/#{game.slug}/#{session.picture}"
          
          %a.c-session{href: link}
            %div.c-session--picture{style: "background-image: url(#{picture})"}
            %div.c-session--details
              %div.c-session--name= session.name
              - if !session.description.nil?
                %div.c-session--description= session.description
